@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.5px;
  font-family: "Lato", "Roboto Slab", sans-serif;
}
:root {
  /* green */
  --green: #00b000;
  --greend: #007500;
  --greenl: #00e400;
  --greens: #00ff70;
  /* black */
  --blackl: #8a8a8a;
  --blackd: #2e2e2e;
  --black: #000;
  /* white */
  --whitel: #dedcd5;
  --whited: #f7d7d7;
  --white: #fff;
}
html {
  scroll-behavior: smooth;
}
input,
select,
textarea {
  font-weight: 100;
  font-family: "Roboto Slab", sans-serif;
}
input,
button,
select,
textarea {
  border: none;
  outline: none;
}
body {
  overflow-x: hidden;
  background-color: var(--whitel);
}
/* LOADER */
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--white) url(../img/Walk.gif) no-repeat center center;
  background-size: 4%;
  z-index: 1000;
}
.screen-info {
  display: none;
}
@media screen and (max-width: 1200px) {
  #loader {
    background-size: 12%;
  }
  .screen-info {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px var(--blackd);
    padding: 15px;
    background: var(--greens);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .screen-info p {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: var(--black);
    word-wrap: break-word;
  }
}
/* WRAPPER */
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
/* SIDE BAR */
.wrapper .sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  padding: 20px 10px;
  background-color: var(--white);
  box-shadow: 1px 0 0px 0 wheat;
}
.sidebar .logo {
  width: 120px;
  height: 50px;
  object-fit: cover;
  margin: 0px auto 10px;
}
.sidebar ul {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar ul li {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px var(--greens);
  transition: all 0.5s ease-in;
}
.sidebar ul li.active {
  transform: translate(12px, 2px);
  background-color: var(--greens);
}
.sidebar ul li.active i {
  font-size: 28px;
  color: var(--greend);
}
.sidebar ul li.active a {
  color: var(--black);
}
.sidebar ul li:hover i {
  font-size: 28px;
  color: var(--green);
}
.sidebar ul li:hover a {
  color: var(--greenl);
}
.sidebar ul li i {
  font-weight: 400;
  font-size: 20px;
  color: var(--greenl);
}
.sidebar ul li a {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
  font-size: 11px;
  color: var(--green);
}
/* LOGOUT BTN */
.sidebar ul .logg {
  position: relative;
  background-color: var(--greenl);
  margin-top: 38px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 25px;
  box-shadow: 0px 0px 8px 2px var(--blackd);
  transition: all 0.5s ease-in;
}
.sidebar ul .logg i {
  font-weight: 400;
  font-size: 28px;
  color: var(--white);
}
.sidebar ul .logg a {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
  font-size: 13px;
  color: var(--black);
}
.sidebar ul .logg .sale {
  position: absolute;
  left: -7%;
  top: 120%;
  width: 220px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: center;
  display: none;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}
.sidebar ul .logg .sale.active {
  display: block;
}
.sidebar ul .logg .sale p {
  font-size: 12px;
  color: var(--blackd);
  font-weight: bold;
  line-height: 10px;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.sidebar ul .logg .sale a {
  background-color: var(--greens);
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 3px;
}
/* MAIN CONTENT */
.wrapper .main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-left: 250px;
}
.main header {
  width: 100%;
  background-color: wheat;
}
.main header p {
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  padding: 15px 0px;
  color: var(--blackd);
}
.main header p span {
  color: var(--green);
  font-family: "Roboto Slab", sans-serif;
}
.main header small {
  position: absolute;
  top: 6px;
  right: 6px;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  padding: 15px 0px;
  text-transform: uppercase;
  color: var(--blackd);
}
.main .menu {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: var(--white);
  display: none;
}
.main .menu.active {
  display: block;
}
/* PROFILE */
.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.profile .pics {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  background-color: var(--greens);
}
.profile .pics h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: var(--greend);
  text-transform: uppercase;
  text-align: center;
}
.profile .pics small {
  font-family: "Roboto Slab", sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: var(--blackd);
  text-align: center;
}
.profile .pics .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--whitel);
  border: 3px solid var(--black);
}
.profile .update {
  width: 100%;
}
.profile .update form {
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.update form .path {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.update form .path section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.update form .path section .show {
  position: absolute;
  top: 46px;
  right: 15px;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
  color: var(--green);
  font-size: 22px;
  background-color: transparent;
  cursor: pointer;
}
.update form .path section .show .bxs-show {
  display: none;
}
.update form .path div {
  background-color: var(--whited);
}
.update form .path label {
  font-size: 13px;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 5px;
  padding-left: 2px;
}
.update form .path .control {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid var(--whited);
  background-color: var(--white);
  margin-bottom: 20px;
}
.update form .path .control.phone {
  padding-left: 50px;
}
.update form .path .control.pass {
  padding-right: 40px;
}
.update form .path .control:focus {
  border: 1px solid var(--greenl);
}
.log {
  font-family: "Roboto Slab", sans-serif;
  background-color: var(--greenl);
  color: var(--black);
  font-size: 13px;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px 2px var(--blackl);
}
.log:hover {
  background-color: var(--greens);
}
/* EARN SECTION */
.infos {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 12px;
}
.infos .part {
  width: 100%;
  height: 185px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 10px 12px;
  background-color: var(--white);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 0 1px 0px var(--blackl);
  border-left: 30px solid var(--greens);
}
.infos .part.invite {
  margin-left: 8px;
}
.infos .part h1 {
  width: 100%;
  font-size: 18px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  color: var(--blackd);
  text-align: center;
  border-bottom: 1px solid var(--whitel);
}
.infos .part h1 span {
  width: 100%;
  font-size: 25px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  color: var(--greenl);
  text-align: center;
}
.infos .part p {
  width: 100%;
  font-size: 10px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  color: var(--blackd);
  line-height: 20px;
  text-align: center;
  position: relative;
}
.infos .part .reply {
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 0 0 5px 3px var(--blackl);
  position: absolute;
  top: 90px;
  right: 50px;
  font-size: 10px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 100;
  animation: down 3s ease-in 0s;
  display: none;
  color: var(--black);
}
/* animation for copied */
@keyframes down {
  0% {
    top: 65px;
  }
  20% {
    top: 70px;
  }
  40% {
    top: 75px;
  }
  60% {
    top: 80px;
  }
  80% {
    top: 85px;
  }
  100% {
    top: 90px;
  }
}
.infos .part p span {
  width: 100%;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: var(--green);
  text-align: center;
}
.infos .part.invite p span {
  width: 100%;
  font-size: 12px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  color: var(--blackl);
  text-align: center;
}
/* UPLOADS */
.uploads {
  width: 100%;
}
.uploads form {
  width: 100%;
  padding: 0px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 0 0 1px 0px var(--blackl);
}
.uploads form .path {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.uploads form .path label {
  font-size: 13px;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 5px;
  padding-left: 2px;
}
.uploads form .path .control {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid var(--whited);
  background-color: var(--white);
  margin-bottom: 10px;
}
.uploads form .path .control:focus {
  border: 1px solid var(--greenl);
}
.uploads form .path textarea {
  width: 100%;
  font-size: 13px;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid var(--whited);
  background-color: var(--white);
  margin-bottom: 10px;
}
.uploads form .path textarea::placeholder {
  font-size: 13px;
}
.uploads form .path textarea:focus {
  border: 1px solid var(--greenl);
}
.prev h1 {
  width: 100%;
  padding: 12px 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto Slab", sans-serif;
  color: var(--green);
}
.prev .items {
  width: 100%;
}
.prev .items .rows {
  overflow-y: auto;
  width: 100%;
  height: 330px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1px 0px var(--blackl);
}
.prev .items .rows::-webkit-scrollbar {
  width: 0px;
}
.prev .items .rows .prod {
  height: 150px;
  margin: 0px 5px;
  padding: 10px 0px;
  position: relative;
}
.prev .items .rows .prod img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.prev .items .rows .prod a {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev .items .rows .prod a i {
  font-size: 13px;
  color: var(--white);
  transition: all 0.5s ease-in-out;
}
.prev .items .rows .prod a:hover i {
  font-size: 15px;
  color: var(--greens);
}
/* MEET SECTION */
.events {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 5px 0px var(--greens);
}
.events .col {
  width: 100%;
  padding: 20px 5px;
}
.events .col.one {
  border-right: 1px solid var(--whited);
}
.events .col h1 {
  width: 100%;
  border-bottom: 1px solid var(--whited);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-left: 5px;
  color: var(--green);
}
.events .col h1 i {
  font-size: 25px;
  color: var(--greenl);
}
.events .col hr {
  color: var(--green);
}
.events .col p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: var(--blackl);
  padding: 8px;
  margin-top: 10px;
  text-align: center;
}
/* USERS LIST AREA COL ONE */
.users {
  width: 100%;
  height: 400px;
  padding: 10px;
  box-shadow: 0 0 5px 0px var(--greens);
  border-radius: 8px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.users .col {
  width: 100%;
}
.users .col.one {
  border-right: 1px solid var(--whited);
  padding-right: 15px;
}
.users .col.two {
  padding-left: 15px;
}
.users .col .search {
  width: 100%;
  margin: 15px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.users .col .search .text {
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: var(--green);
}
.users .col .search input {
  position: absolute;
  width: calc(100% - 60px);
  height: 45px;
  padding: 0 15px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 100;
  font-size: 12px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--whited);
}
.users .col .search button {
  width: 57px;
  height: 45px;
  background-color: var(--green);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.users .col .search button i {
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
}
.users-list {
  height: 310px;
  overflow-y: auto;
}
.users-list::-webkit-scrollbar {
  width: 0px;
}
.users-list a {
  width: 100%;
  padding: 10px 8px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--whitel);
}
.users-list a:last-child {
  border: none;
  padding-bottom: 2px;
}
.users-list a .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.users-list a .content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.users-list a .content .details span {
  font-size: 12px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  color: var(--blackd);
}
.users-list a .content .details p {
  font-size: 11px;
  font-weight: 400;
  color: var(--blackl);
  padding-top: 8px;
}
.users-list a .status i {
  font-size: 15px;
  color: var(--greenl);
}
.users-list a .status i.offline {
  font-size: 15px;
  color: var(--whitel);
}
/* USERS CHAT AREA COL TWO */
.chat-area {
  width: 100%;
}
.chat-area header {
  width: 100%;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 5px 5px 0 0;
  background-color: transparent;
}
.chat-area header i {
  font-size: 30px;
  color: var(--green);
}
.chat-area header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.chat-area header .details span {
  font-size: 13px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  color: var(--blackd);
}
.chat-area header .details p {
  font-size: 11px;
  font-weight: 400;
  color: var(--blackl);
  padding-top: 2px;
}
.chat-box {
  overflow-y: auto;
  width: 100%;
  height: 270px;
  padding: 5px 10px;
  box-shadow: inset 0px 0px 3px 0px var(--blackl);
}
.chat-box::-webkit-scrollbar {
  width: 0px;
}
.chat-box .chat {
  margin: 15px 0px;
}
.chat-box .chat p {
  padding: 8px 17px;
  word-wrap: break-word;
  font-size: 11px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  box-shadow: 0px 0px 7px 0px var(--blackl);
}
.chat-box .outgoing {
  display: flex;
}
.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 200px);
}
.outgoing .details p {
  background-color: var(--greenl);
  color: var(--blackd);
  border-radius: 10px 10px 0px 10px;
}
.chat-box .incoming {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.chat-box .incoming img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.incoming .details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 200px);
}
.incoming .details p {
  background-color: var(--green);
  color: var(--white);
  border-radius: 10px 10px 10px 0px;
}
.chat-area .typing-area {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-area .typing-area input {
  width: calc(100% - 60px);
  height: 41px;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--whited);
}
.chat-area .typing-area button {
  width: 57px;
  height: 43px;
  border-radius: 0px 5px 5px 0;
  background-color: var(--greenl);
  color: var(--white);
  cursor: pointer;
}
.chat-area .typing-area button i {
  font-size: 25px;
}
/* TREES SECTION STYLING */
.data {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-shadow: 0 0 5px 0 var(--whited);
  padding: 5px 0px;
  border-radius: 6px;
}
#trees .data {
  grid-template-columns: repeat(5, 1fr);
}
.data .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 0px;
  border-right: 1px solid var(--green);
}
.data .col.side {
  border: none;
}
.data .col h1 {
  font-size: 13px;
  font-weight: 700;
  color: var(--greend);
}
.data .col h2 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: var(--greend);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.data .col h2 i {
  font-size: 25px;
  color: var(--green);
}
.data .col span {
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--greenl);
}
.data .col p {
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: var(--green);
  padding: 0px 20px;
}
.data .col p a {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: var(--greens);
}
/* SELL TREE SECTION */
.make-sales {
  width: 100%;
}
.make-sales form {
  width: 100%;
  padding: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.make-sales form .path {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.make-sales form .path label {
  font-size: 13px;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 5px;
  padding-left: 2px;
}
.make-sales form .path .control {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid var(--whited);
  background-color: var(--white);
  margin-bottom: 20px;
}
.make-sales form .path .control:focus {
  border: 1px solid var(--greenl);
}
.make-sales form .path textarea {
  width: 100%;
  font-size: 13px;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid var(--whited);
  background-color: var(--white);
  margin-bottom: 10px;
}
.make-sales form .path textarea::placeholder {
  font-size: 13px;
}
.make-sales form .path textarea:focus {
  border: 1px solid var(--greenl);
}
/* PAY METHOD SECTION */
.withdraw {
  width: 100%;
}
.withdraw form {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.withdraw form .path {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.withdraw form .path label {
  font-size: 13px;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 5px;
  padding-left: 2px;
}
.withdraw form .path .control {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid var(--whited);
  background-color: var(--white);
  margin-bottom: 10px;
}
.withdraw form .path .control:focus {
  border: 1px solid var(--greenl);
}
.select {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto Slab", sans-serif;
  color: var(--blackd);
  padding: 0px 0px 10px;
  border-bottom: 1px solid var(--whited);
}
.choose {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid var(--whited);
}
.choose form:nth-child(2) {
  border-right: 1px solid var(--whited);
  border-left: 1px solid var(--whited);
}
.choose form {
  width: 100%;
  padding: 10px;
  gap: 25px;
}
.choose form .path {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.choose form .path label {
  font-size: 13px;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 5px;
  padding-left: 2px;
}
.choose form .path .control {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid var(--whited);
  background-color: var(--white);
  margin-bottom: 10px;
}
.choose form .path .control:focus {
  border: 1px solid var(--greenl);
}
/* DONATE SECTION STYLING */
.donation {
  width: 100%;
}
.donation form {
  width: 100%;
  padding: 0px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.donation form .path {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.donation form .path label {
  font-size: 13px;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 5px;
  padding-left: 2px;
}
.donation form .path .control {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid var(--whited);
  background-color: var(--white);
  margin-bottom: 20px;
}
.donation form .path .control:focus {
  border: 1px solid var(--greenl);
}

/* RESPONSE POP UP */
.response {
  position: fixed;
  top: 200px;
  right: 40px;
  background-color: var(--greenl);
  color: var(--blackd);
  width: fit-content;
  border-radius: 20px;
  border: 2px solid var(--black);
  box-shadow: 0 3px 5px 3px var(--blackl);
  font-family: "Lato", sans-serif;
  word-wrap: break-word;
  font-weight: bold;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  transition: 0.4s;
  animation: godown 7s ease-in 0s;
  z-index: 99999;
  display: none;
}
/* animation for response pop up*/
@keyframes godown {
  0% {
    top: 0px;
    opacity: 1;
  }
  10% {
    top: 25px;
    opacity: 1;
  }
  15% {
    top: 50px;
    opacity: 1;
  }
  20% {
    top: 80px;
    opacity: 1;
  }
  40% {
    top: 110px;
    opacity: 1;
  }
  60% {
    top: 140px;
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    top: 170px;
    opacity: 0.3;
  }
  100% {
    top: 200px;
    opacity: 0.1;
  }
}
