@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", "Roboto Slab", sans-serif;
}
:root {
  /* green */
  --green: #00b000;
  --greend: #007500;
  --greenl: #00e400;
  --greens: #00ff70;
  /* black */
  --blackl: #8a8a8a;
  --blackd: #2e2e2e;
  --black: #000;
  /* white */
  --whitel: #dedcd5;
  --whited: #f7d7d7;
  --white: #fff;
}
html {
  scroll-behavior: smooth;
}
input,
select,
textarea {
  font-weight: 100;
  font-family: "Roboto Slab", sans-serif;
}
input,
button,
select,
textarea {
  border: none;
  outline: none;
}
body {
  overflow-x: hidden;
  background-color: var(--white);
  letter-spacing: 0.5px;
}

/* HEADER SECTION */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding: 5px 8px;
  z-index: 999;
  border-bottom: 1px solid var(--whitel);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 150px;
  height: 50px;
  object-fit: cover;
}
.menu {
  display: block;
  margin-right: 10px;
}
.list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list li a {
  color: var(--blackd);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
.list li a:hover {
  color: var(--green);
}
.list li a .cart {
  width: 45px;
  position: relative;
  text-align: center;
  padding-top: 10px;
}
.list li a .cart i {
  font-size: 30px;
  color: var(--greend);
}
.list li a .cart .top {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--black);
  background-color: var(--greenl);
  position: absolute;
  top: 0;
  right: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: down 2s ease-in 0s;
  /* display: none; */
}
/* animation for cart top number */
@keyframes down {
  0% {
    top: -50px;
  }
  20% {
    top: -40px;
  }
  40% {
    top: -30px;
  }
  60% {
    top: -20px;
  }
  80% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}
.list li a .cart .top p {
  font-size: 10px;
  font-weight: bold;
  font-family: monospace;
}
/* sell hover */
.list .sell {
  position: relative;
}
.list .sell .sale {
  position: absolute;
  left: -200%;
  top: 120%;
  width: 140px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
  padding: 15px;
  text-align: center;
  display: none;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
}
.list .sell .sale.active {
  display: block;
}
.list .sell .sale p {
  font-size: 12px;
  color: var(--blackd);
  font-weight: 400;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.list .sell .sale a {
  background-color: var(--greens);
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
}
/* media query for header section */
@media screen and (max-width: 500px) {
  .logo {
    width: 90px;
    height: 40px;
    object-fit: cover;
  }
  .list {
    gap: 12px;
  }
  .list li a {
    font-size: 10px;
    font-weight: bolder;
  }
  .list li a .cart i {
    font-size: 22px;
    color: var(--greend);
  }
  .list li a .cart .top {
    width: 18px;
    height: 18px;
  }
  .list li a .cart .top p {
    font-size: 10px;
    font-weight: bolder;
  }
}

/* BODY SECTION */
.body {
  margin: 80px auto 20px;
  width: 100%;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
/* goods section */
.body .goods {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}
.body .goods .rows {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
}
.body .goods .rows .prod {
  height: 200px;
  margin: 0px 5px;
  padding: 10px 0px;
  position: relative;
}
.body .goods .rows .prod img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 5px;
}
.body .goods .rows .prod p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: var(--blackd);
  padding-left: 5px;
}
.body .goods .rows .prod small {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: var(--green);
  padding-left: 5px;
}
.body .goods .rows .prod a {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .goods .rows .prod a i {
  font-size: 20px;
  color: var(--white);
  transition: all 0.5s ease-in-out;
}
.body .goods .rows .prod a:hover i {
  font-size: 40px;
  color: var(--greens);
}
/* learn section */
.body .learn {
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 15px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
}
.learn-top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px auto;
  padding: 10px 0px 15px;
  border-bottom: 1px double var(--greend);
}
.learn-top h1 {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: var(--green);
}
.learn-top i {
  font-size: 30px;
  font-weight: 400;
  color: var(--greenl);
}
.learn p {
  font-size: 13px;
  line-height: 22px;
  color: var(--blackd);
  font-weight: 400;
  text-align: justify;
  padding: 5px;
}
.learn p span {
  color: var(--green);
}
.learn form {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.learn form .control {
  height: 45px;
  border-radius: 5px;
  padding-left: 8px;
  border: 0.5px solid var(--whited);
}
.learn form .control:hover {
  border: 1px solid var(--greenl);
}
.learn form .btn {
  font-family: "Lato", sans-serif;
  background-color: var(--greens);
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
  margin-left: 8px;
}
.learn form .btn:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--greenl);
}
/* BODY MEDIA QUERY */
@media screen and (max-width: 1100px) {
  .body {
    padding: 0px 20px;
    grid-template-columns: 1fr;
  }
  /* goods section */
  .body .goods {
    padding: 10px;
  }
  .body .learn {
    margin-left: 0px;
  }
}
@media screen and (max-width: 700px) {
  .body .goods .rows {
    grid-template-columns: repeat(3, 1fr);
  }
  .body .goods .rows .prod {
    height: 180px;
  }
  .body .goods .rows .prod p {
    font-size: 11px;
  }
  .body .goods .rows .prod small {
    font-size: 8px;
  }
  .body .goods .rows .prod a i {
    font-size: 15px;
  }
  .body .goods .rows .prod a:hover i {
    font-size: 30px;
  }
  .learn form .btn {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  /* learn section */
  .learn-top h1 {
    font-size: 20px;
  }
  .learn-top i {
    font-size: 25px;
  }
  .learn p {
    font-size: 10px;
    line-height: 18px;
    font-weight: bold;
  }
}
@media screen and (max-width: 400px) {
  .body {
    padding: 0px 5px;
  }
  .body .goods .rows .prod {
    margin: 0px 2px;
  }
  /* goods section */
  .body .goods {
    padding: 0px;
  }
}
/* FOOTER SECTION */
.footer {
  width: 100%;
  background-color: var(--blackd);
  padding: 40px 40px 30px;
  color: var(--whited);
  overflow: hidden;
}
.footer .divide {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer h4 {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.foot {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
}
.container h3 {
  font-size: 14px;
  font-weight: bold;
}
.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.container div a {
  font-size: 12px;
  font-weight: 400;
  color: var(--whited);
}
.container div a:hover {
  text-decoration: underline;
  color: var(--greend);
}
.container div p {
  font-size: 12px;
  font-weight: 400;
  color: var(--whited);
}
/* footer section media query */
@media screen and (max-width: 500px) {
  .footer h4 {
    font-size: 8px;
  }
  .foot {
    gap: 10px;
  }
  .container h3 {
    font-size: 11px;
  }
  .container div a {
    font-size: 10px;
  }
  .container div p {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .footer {
    padding: 25px;
  }
  .foot {
    flex-direction: column;
  }
  .container h3 {
    font-size: 13px;
  }
  .container div a {
    font-size: 12px;
  }
  .container div p {
    font-size: 12px;
  }
}
/* POPUP SECTION */
.pop {
  background-color: var(--white);
  width: 80%;
  height: 450px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 250ms ease-in-out;
  z-index: 100;
  border-radius: 10px;
  padding: 10px;
}
.pop.active {
  transform: translate(-50%, -50%) scale(1);
}
.pop .pop-body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding-right: 8px;
}
.pop-body img {
  width: 100%;
  height: 425px;
  border-radius: 5px;
  object-fit: cover;
}
.details {
  width: 100%;
  margin: 10px 0px 10px 15px;
  padding: 2px;
}
.details h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--green);
  margin-bottom: 10px;
}
.details h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: var(--blackd);
  text-align: justify;
  margin-bottom: 10px;
  padding: 5px 10px 5px 5px;
  border: 1px solid var(--whited);
  border-radius: 5px;
  height: fit-content;
  overflow-y: auto;
}
.details p {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--green);
  margin-bottom: 20px;
}
.details input {
  color: var(--black);
  font-size: 10px;
  font-weight: bold;
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 10px;
  width: 80px;
}
.details a {
  background-color: var(--greenl);
  color: var(--black);
  font-family: "Roboto Slab", sans-serif;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  padding: 12px;
}
.pop .cancelbtn {
  position: absolute;
  top: 12px;
  right: 10px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  cursor: pointer;
}
.pop .cancelbtn i {
  font-size: 30px;
  font-weight: bold;
  color: var(--green);
}
#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: 250ms ease-in-out;
  opacity: 0;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* popup section media query */
@media screen and (max-width: 600px) {
  .pop {
    width: 95%;
  }
  .details h1 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .details h3 {
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    margin-bottom: 5px;
  }
  .details p {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .pop .cancelbtn {
    top: 2px;
    right: 5px;
  }
}
@media screen and (max-width: 500px) {
  .pop {
    width: 92%;
    height: 400px;
  }
  .pop-body img {
    width: 100%;
    height: 375px;
  }
  .details {
    margin: 5px 0px 5px 10px;
  }
  .details h1 {
    font-size: 22px;
    line-height: 22px;
  }
}
@media screen and (max-width: 430px) {
  .pop .pop-body {
    grid-template-columns: 1fr;
    overflow-y: scroll;
  }
  .pop {
    height: 320px;
  }
  .pop-body img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
  }
  .pop .cancelbtn {
    background-color: var(--greenl);
    border-radius: 5px;
    padding: 4px;
    top: 14px;
    right: 20px;
  }
  .pop .cancelbtn i {
    color: var(--black);
  }
}

/* CART.PHP SECTION */
.goods h5 {
  text-align: center;
  margin: 40px auto 10px;
  width: 100%;
  color: var(--greend);
  font-size: 25px;
  font-weight: 700;
}
.goods h5 i {
  color: var(--greenl);
  font-size: 15px;
  font-weight: 700;
}
.carts {
  width: 100%;
  margin: 10px auto 20px;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
}
.carts table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
}
.carts table thead {
  color: white;
  background-color: var(--green);
  font-size: 15px;
  overflow: hidden;
}
.carts table thead th {
  padding: 5px;
  text-align: left;
  overflow: hidden;
}
.carts table thead th:last-child {
  text-align: center;
}
.total {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}
.total table {
  border-top: 3px solid var(--green);
  width: 100%;
  max-width: 470px;
  font-size: 13px;
  font-weight: bold;
}
td:last-child {
  text-align: right;
}
.botn {
  background-color: var(--green);
  display: block;
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  padding: 9px 30px;
  margin: 20px auto 10px;
  width: fit-content;
  transition: 0.5s;
}
.botn:hover {
  background-color: var(--greens);
}

/* SIGNUP LOGIN PAGE SECTION */
.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.log {
  font-family: "Lato", sans-serif;
  background-color: var(--greens);
  color: var(--black);
  font-size: 13px;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px;
  margin-right: 8px;
}
.log.btn {
  margin-top: 20px;
}
.log:hover {
  background-color: var(--greenl);
  color: var(--black);
}
.log-body {
  width: 100%;
  height: 510px;
}
h6 {
  font-size: 8px;
  font-weight: bolder;
  color: var(--blackl);
  text-align: center;
  padding: 30px 0px;
}
.log-body form {
  width: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.log-body form.login {
  display: block;
  width: 50%;
}

.log-body form .path {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.log-body form .path section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.log-body form .path section .show {
  position: absolute;
  top: 46px;
  right: 15px;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
  color: var(--green);
  font-size: 22px;
  background-color: transparent;
  cursor: pointer;
}
.log-body form .path section .show .bxs-show {
  display: none;
}
.log-body form .path div {
  background-color: var(--whited);
}
.log-body form .path .forgot {
  font-size: 10px;
  font-weight: bolder;
  color: var(--green);
  text-align: center;
  padding: 10px 0px;
}
.log-body form .path .forgot:hover {
  font-size: 10.5px;
}
.log-body form .path label {
  font-size: 13px;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 5px;
  padding-left: 2px;
}
.log-body form .path .control {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 2px;
  border: 1px solid var(--whited);
  margin-bottom: 20px;
}
.log-body form .path .control.phone {
  padding-left: 50px;
}
.log-body form .path .control.pass {
  padding-right: 40px;
}
.log-body form .path .control:focus {
  border: 1px solid var(--greenl);
}
/* LOGIN SIGNUP MEDIA QUERY */
@media screen and (max-width: 800px) {
  .log-body form {
    width: 85%;
  }
  .log-body form.login {
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  .log-body {
    width: 100%;
    height: fit-content;
  }
  .log-body form {
    width: 85%;
    display: block;
    position: static;
    transform: none;
    margin: 30px auto;
    grid-template-columns: 1fr;
    /* background-color: var(--black); */
  }
  .log-body form.login {
    display: block;
    width: 85%;
    margin: 70px auto;
    /* background-color: var(--black); */
  }
}
@media screen and (max-width: 350px) {
  .log-body form {
    padding: 10px;
  }
}

/* RESPONSE POP UP */
.response {
  position: fixed;
  top: 200px;
  right: 40px;
  background-color: var(--greenl);
  color: var(--blackd);
  width: fit-content;
  border-radius: 20px;
  border: 2px solid var(--black);
  box-shadow: 0 3px 5px 3px var(--blackl);
  font-family: "Lato", sans-serif;
  word-wrap: break-word;
  font-weight: bold;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  transition: 0.4s;
  animation: godown 7s ease-in 0s;
  z-index: 99999;
  display: none;
}
/* animation for response pop up*/
@keyframes godown {
  0% {
    top: 0px;
    opacity: 1;
  }
  10% {
    top: 25px;
    opacity: 1;
  }
  15% {
    top: 50px;
    opacity: 1;
  }
  20% {
    top: 80px;
    opacity: 1;
  }
  40% {
    top: 110px;
    opacity: 1;
  }
  60% {
    top: 140px;
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    top: 170px;
    opacity: 0.3;
  }
  100% {
    top: 200px;
    opacity: 0.1;
  }
}
